h1
{
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 5%;
}
h3
{
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  text-align: center;
  padding: 2% 0%;
}
p
{
  color: #171717;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-left: 5%;
  line-height: 2;
}
.title
{
  background-color: #444444;
  padding: 3% 15%;
}
.navbar-brand
{
  font-family: 'Caveat', cursive;
  font-size: 3.5rem;
}

/* About us */
.About-us
{
  background-color: #B2B1B9;
}


/* Contact */
.contact
{
  padding: 3% 15%;
  background-color: #B2B1B9;
}
.email
{
  margin-bottom: 5%;
  margin-left: 35%;
  margin-right: 35%;
}
.icon-facebook
{
  color: #1089FF;
}
.icon-twitter
{
  color: #39A2DB;
}
.icon-instgram
{
  color: #FF3D68;
}

.icon-facebook:hover
{
  color: #02475E;
}
.icon-twitter:hover
{
  color: #02475E;
}
.icon-instgram:hover
{
  color: #02475E;
}
